.body{
    display: flex;
    flex-direction: column;
}

.main-div{
    padding-top: 17em;
    padding-bottom: 17em;
    display: flex;
    flex-direction: row;
}

.table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 2em;
    text-align: center;
    max-width: 50%;
    margin-left: -1em;
}

.bg-img{
    width: 23%;
    height: 23%;
    position: relative;
    left: 22em;
    top: 0em;
}

.bottom-tr{
    border-bottom: 0.01em solid;
    border-bottom-color: yellow;
}

.add-to-fav {
    width: 100%;
    border-radius: 10px;
    background-color: #3a6cf4;
    text-decoration: none;
    color: #eee;
}