.body{
    display: flex;
    flex-direction: column;
}

.main-div{
    max-width: 100%;
    padding-top: 12em;
    padding-bottom: 16em;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 7em;
    
}

.sec-div{
    display: flex;
    position: relative;
    left: -20em;
    width: 20%;
    margin-left: 6em;
}

.bg-img{
    width: 23%;
    height: 23%;
    position: relative;
    left: 10em;
    top: -5em;
}

 .custom-select {
    background-color: #303245;
    color:#eee;
    font-size: 18px;
    width: 100%;
    height: 3.25em;
    border-radius: 12px;
  }
  
  .custom-select-selected {
    display: none;
  }