.table-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:4em;
    align-items: center;
    background: url(/images/transaction_bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 12em;
    padding-bottom: 10em;
    padding-right: 30em;
}

.buttonStack {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    margin-top: 1em;
}

.add-account-inside-table {
    color: #fff;
    background-color: #000000;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    width: 100%;
}