.popup{
    width: 50px;
    height: 100px;
}
#success{
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 30%;
    width: 99%;
}
#error{
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 30%;
    width: 99%;
}

.popup-content{
   /* display: block; */
    width: 250px;
    height: 150px;
    background: #f1f7fe;
    box-shadow: 4px 4px 70px 10px rgb(0 0 0/11%);
    border-radius: 25px;
    white-space: nowrap;
}
.imgbox{
    text-align: center;
}
#check-cancel-img{
    width: 1.2em;
    margin-top: 1.1em;
    margin-bottom: 0.2em;
}
.title{
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 0.1em;
    padding-top: 0.1em;
    margin: auto;
}
#success .title{
   color: #32ba7c;
}
#error .title{
    color: #ff3636;
}
.para{
    font-weight: 600;
    width: 80%;
    font-size: 0.5em;
    line-height: 10px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: auto;
    margin-top: 0.1em;
    margin-bottom: 0.1em ;
    color: black;
}
.button{
    width: 50%;
    height: 10%;
    display: block;
    margin: 20px auto;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 0.5em;
}
#s_button{
    background: #32ba7c;
}
#e_button{
    background: #ff3636;
}
