@import url('https://fonts.googleapis.com/css?family=Montserrat%27');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* overflow-y: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dde5f4;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.container {
  padding: 30px 50px;
}
#search-form {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#search-form input {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 2px;
}
#search-form button { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color:transparent;
  outline: none;
  border: none;
  width: 3rem;
  text-align: center;
  font-size: 1.75rem;
  cursor: pointer;
  color: #333;
}
.info {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}

@media (max-width: 1200px) {
  #search-form { width: 50%; }
}
@media (max-width: 768px) {
  .container { padding: 30px 35px; }
  #search-form { width: 100%; }
  .info { font-size: 0.5rem; }
}
* {
  font-family: "Poppins";
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* overflow-y: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dde5f4;
  height: 100vh;
}

.screen-1 {
  background: #f1f7fe;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 2em #e6e9f9;
  gap: 2em;
  max-height: 30em;
  max-width: 20em;
}
.screen-1 .logo {
  margin-top: -2em;
}
.screen-1 .main-form{
  display: flex;
  flex-direction: column;
  gap: 1.1em;
}
.screen-1 .email {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
  margin-top: -2em;
  
}
.screen-1 .email input {
  outline: none;
  border: none;
}
/* .screen-1 .email input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
  font-weight: 20;
}
.screen-1 .email input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
  font-weight: 20;
} */
.screen-1 .email input::placeholder {
  color: grey;
  font-size: 0.8em;
  font-weight: 100;
}
.screen-1 .email ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.screen-1 .password {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
}
.screen-1 .password input {
  outline: none;
  border: none;
  padding-right: 3em;
}
/* .screen-1 .password input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
} */
.screen-1 .password .sec-2{
  display: flex;
  justify-content: left;
  flex-wrap: row;
}
.screen-1 .password input::placeholder {
  color: grey;
  font-size: 0.8em;
  font-weight: 100;
}
.screen-1 .password ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
  cursor: pointer;
}
.screen-1 .password .show-hide {
  margin-right: -5em;
}
.screen-1 .login {
  padding: 1em;
  background: #3a6cf4;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.7s ease;
  cursor: pointer;
}
.screen-1 .login:hover {
  background-color: #0a49f6;
  transform: scale(1.1); 
}
.screen-1 .footer {
  display: flex;
  font-size: 0.7em;
  color: #5e5e5e;
  gap: 14em;
  padding-bottom: 10em;
  justify-content: center;
}
.screen-1 .footer a {
  cursor: pointer;
  text-decoration: none;
  color: #4d4d4d;
  font-size: 1.1em;
}
.screen-1 .footer a:hover{
  color:#3a6cf4;
}

button {
  cursor: pointer;
}