.background-pic {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(/images/PayBill3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.fs {
  padding: 100px;
}
