.tab {
    display: flex;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    justify-content: center;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    /* padding: 6px 12px; */
    /* border: 1px solid #ccc; */
    border-top: none;
    /* justify-content: center; */
    /* align-items: center; */
    animation: fadeEffect 1s; /*Fading effect takes 1 second*/
    background: url(/images/transferIMG.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 5em 0em;
  }
  
  #internal-transfer {
    display: block;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 49em;
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  /* #Paris{
    display: flex;
    justify-content: center;
  }
  #London{
    display: flex;
    justify-content: center;
  }
  #Tokyo{
    display: flex;
    justify-content: center;
  } */

  .make-a-transfer-div {
    width: 100%;
    min-height: 100vh;
    display: block;
    align-items: center;
    background: url(/images/transferIMG.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 4.3em 0em;
}

/* .image{
  width: 100%;
  min-height: 100vh;
  display: block;
  align-items: center;
  background-image: url("images/transferIMG.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 4.3em 0em;
} */
